{% extends "base.html" %}
{% block admin_content %}

            <main>
                <div class="content1">
                    <h1 style="text-align: center;">Admin Information</h1>
                    <section class="header">
                        <input type="number" placeholder="total entries">
                        <button  id="Btn"  style="background-color: rgba(11, 151, 151, 0.712); border-radius: 5px; box-shadow: 2px 2px 2px grey; border: none; padding: 5px 10px;font-weight: bold; color: white;"><a href="{% url 'adminform' %}">Add New Admin</a></button>
                        <input type="search" placeholder="search department here">
                    </section>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Username</th>
                          <th>Email ID</th>
                          <th>Created Date</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for admin in admins %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{admin.name}}</td>
                            <td>{{admin.user_name}}</td>
                            <td>{{admin.email}}</td>
                            <td>{{admin.date}}</td>
                            <td>
                              <button type="button" style="background-color: green; border: none; color: white;padding: 2px 6px;">Edit</button>
                              <button type="button" style="background-color: red; border: none; color: white;padding: 2px 6px;">Delete</button>
                            </td>
                          </tr>
                        {% endfor %}
                        <!-- More rows can be added dynamically -->
                      </tbody>
                    </table>
                  </div>
            </main>
        </div>
    </div>
{% endblock admin_content %}